export(opensketch)
export(opensketch_path)
export(stop_opensketch)
S3method(print,opensketch_server)
importFrom(httpuv,randomPort)
importFrom(httpuv,startServer)
importFrom(httpuv,stopServer)
importFrom(tools,file_ext)
